body{
    background-color: black !important;
    color: white !important;
}

.nav-item{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.banner{
   height: 600px; 
   display: flex;
   align-items: center;
}

.banner::before{
    position:absolute;
    left: 0;
    width: 100%;
    height: 600px;
    content: '';
    background: linear-gradient(to right, black, transparent );
}

.banner-info{
    width: 25%;
    z-index: 1;
}

.cards{
    width: 220px;
    height: 330px;
}

.overlay{
    opacity: 0;
    background: rgba(43, 41, 41, 0.9);
    width: 100%;
    height: 100%;
}

.cards:hover .overlay{
    opacity: 1;
    cursor: pointer;
}

.movie-detail-container{
    display: flex;
    justify-content: flex-end;
}

.movie-poster-img{
    display: flex;
    justify-content: flex-end;
    width: 300px;
   height: 450px;
}

.movie-info{
    display: table-row;
    justify-content: flex-end;
}

.movie-title{
    font-size: 50px;
}

.movie-tagline{
    font-style: italic;
}


